[user]
	name = Nathanael Rea
	email = Nathan@NathanaelRea.com
[init]
	defaultBranch = main
[alias]
	bl = branch --list
	ls = log --oneline
	rename = commit --amend -m
	smoosh = commit --amend --no-edit
	getdate = "!f() { if [[ $OSTYPE == \"msys\" || $OSTYPE == \"cygwin\" ]]; then date=$(date +'%Y-%m-%d'); else date=$(echo $((Get-Date).ToString('yyyy-MM-dd'))); fi && read -p \"Enter additional notes (optional): \" notes && if [[ -n \"$notes\" ]]; then echo \"$date - $notes\"; else echo $date; fi; }; f"
	quick = "!git add . && git commit -m \"$(git getdate)\" && git push"
	staash = stash --all
[commit]
	gpgsign = true
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
