[user]
	name = Nathanael Rea
	email = Nathan@NathanaelRea.com
[init]
	defaultBranch = main
[alias]
	r = rebase -i HEAD~6
	ls = log --oneline
	rename = commit --amend -m
	smoosh = commit --amend --no-edit
	staash = stash -u
	nuke = !git branch -D $(git branch)
[commit]
	gpgsign = true
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate
